.heading-primary{
  color: $color-font-main;
  width: 100%;
  font-weight: 600;
  padding: 0.5rem 0;
  text-align: center;

  @include respond(tab-land) {
  }

  @include respond(tab-port) {
    margin-top: 1rem;
  }

  @include respond(phone) {
    margin-top: 1.2rem;
    line-height: 9rem;
    padding: 0.5rem 4rem;
  }


  &--main{
    font-size: 6rem;
    display: block;
    letter-spacing: 1px;
  }

  &--mid {
    display: block;
    font-size: 3.5rem;
    font-weight: 500;
    
    @include respond(phone) {
      display: none;
    }
  }

  &--sub {
    font-size: 5.5rem;
    letter-spacing: 4px;
    
    @include respond(phone) {
      display: none;
    }
  }
}

.heading-secondary {
  color: $color-font-main;
  padding: 0 1rem;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;

  &__main {
    display: block;
    font-size: 3.5rem;
    margin-bottom: .3rem;
  }

  &__sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.heading-tertiary {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  transform: skewX(-6deg);
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: $font-default-size;
  color: $color-font-secondary;
  font-weight: 400;
  line-height: 2.6rem;
  
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.text-box {
  display:block;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  height: 60%;
  transform: translate(-50%, 0);
  text-align: center;

   i {
    font-size: 4rem;
    font-weight: 700;
  }

  h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem
  }
  p { 
    font-size: 1.4rem;
    &:last-child{
      margin-bottom: 2rem;
    }
  }
}