.footer {
  height: 20rem;
  padding: 3rem;
  background: linear-gradient(90deg, 
    $color-primary-dark, $color-secondary-dark, $color-tertiary);
  
  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    color: $color-white;
    font-size: $font-default-size;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    display: inline-block;
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 6rem;
  }

  &__item {
    display: inline-block;
    padding: 0 1rem;

    &:hover {
      transform: skewx(-6deg) scale(1.05);
    }
  }

  &__copyright {
    border-top: 1px solid #eee;
    color: $color-white;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    margin-top: 6rem;
  }

  &__link {
    &:link, &:active, &:visited {
      color: $color-white;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  }
}